# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cyber-developers will be requested for
# review when someone opens a pull request.
*        @jg-cqc @bmerrimanCQC

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies the following files, only @js-owner and not the global
# owner(s) will be requested for a review.
*.c      @jg-cqc @bmerrimanCQC
*.cpp    @jg-cqc @bmerrimanCQC
*.cs     @jg-cqc @bmerrimanCQC
*.h      @jg-cqc @bmerrimanCQC
*.inc    @jg-cqc @bmerrimanCQC
*.macros @jg-cqc @bmerrimanCQC
LICENCE  @jg-cqc @bmerrimanCQC
*.3      @jg-cqc @bmerrimanCQC
*.7      @jg-cqc @bmerrimanCQC

*.sh     @cyber-developers
*.md     @cyber-developers
*.txt    @cyber-developers
Makefile @cyber-developers
makefile @cyber-developers
*.mk     @cyber-developers

# All other files 
